.buttons-container {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: darkcyan;
	&__button {
		border: none;
		color: $cream;
		background-color: $blue;
		font-family: "Bebas Neue", cursive;
		font-size: 35px;
		width: 150px;
		height: 60px;
		margin: 10px;
		cursor: pointer;

		&:hover {
			transition: 100ms ease-in-out;
			transform: scale(1.03);
		}

		&--start-game {
			display: none;

			&:hover {
				background-color: $yellow;
			}
		}
		&--next-round {
			display: none;

			&:hover {
				background-color: $grey;
			}
		}
		&--new-card {
			display: none;

			&:hover {
				background-color: $darkblue;
			}
		}

		&--reset-game {
			display: none;

			&:hover {
				background-color: $red;
			}
		}

		&--open-rules:hover {
			background-color: $dark;
		}

		&--show {
			display: inline-block;
		}
	}
}
