@import "variables";

@keyframes changeColorGreen {
	0% {
		color: $cream;
	}

	50% {
		color: $lightgreen;
		transform: scale(1.05);
		transition: 1s ease-in-out;
	}

}

@keyframes changeColorRed {
	0% {
		color: $cream;
	}
	
	50% {
		color: $red;
		transform: scale(1.05);
		transition: 1s ease-in-out;
	}

}
